<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/courseUpload.css">
    <title>Course Upload</title>
    <style>
        input[type='text']:disabled {
            cursor: not-allowed;
        }
        
        .details {
            display: flex;
        }
        
        .module_main {
            margin: 2% 0;
            margin-left: 3%;
            margin-bottom: 4%;
            background-color: #e9f8fc;
            border-bottom: 2px solid black;
            box-shadow: inset 15px 15px 15px #2097b6, inset -15px -15px 15px #2097b6;
        }
        
        .newmodule {
            padding-top: 2%;
            padding-bottom: 0;
            /* justify-content: center; */
        }
        
        .module_leftmargin {
            margin-left: 4%;
        }
        
        .moddetails {
            display: none;
            margin-bottom: 2%;
        }
        
        .moduleinput1 {
            display: flex;
            align-items: center;
            padding: 1% 0;
        }
        
        .moduleinput1 label {
            flex: 0.3;
        }
        
        .moddetails .plus {
            margin-top: 2%;
        }
        
        .mod_text {
            margin-bottom: 1%;
            display: flex;
            align-items: center;
        }
        
        .mod_text h3 {
            background-color: #161361;
            color: white;
            padding: 1%;
        }
        
        .mod_text i {
            padding-left: 2%;
            font-size: 26px;
        }
        
        .mod_title {
            text-transform: capitalize;
        }
        
        .additions {
            justify-content: center;
            /* margin: 2% 0; */
            flex-wrap: wrap;
        }
        
        .additions .plus {
            margin: 0;
        }
        
        .viewLec {
            margin: 2% 0;
        }
        
        @media(max-width: 1000px) {
            .moduleinput1 label {
                flex: 0.5;
            }
        }
        
        @media(max-width: 800px) {
            .moduleinput1 label {
                flex: 0.8;
            }
        }
        
        @media (max-width: 768px) {
            .viewLec {
                margin-bottom: 4%;
            }
        }
        
        @media(max-width: 650px) {
            .moduleinput1 {
                flex-direction: column;
                align-items: flex-start
            }
        }
        
        @media(max-width: 550px) {
            .module_main {
                margin-top: 4%;
            }
            .newmodule {
                flex-direction: column;
                align-items: center;
            }
            input[type=text] {
                margin: 0;
            }
            .newmodule .cta {
                width: max-content;
                margin-top: 1%;
            }
        }
        
        @media (max-width: 380px) {
            .module_main {
                margin-top: 6%;
            }
            input[type=text] {
                min-width: 250px;
            }
        }
        
        @media (max-width: 330px) {
            input[type=text] {
                min-width: 200px;
            }
            .moddetails .plus {
                margin-top: 4%;
            }
        }
        
        .weekmaindiv {
            border-left: 2px solid black;
            /* background-color: lightcoral; */
        }
        
        .weekBtn {
            margin: 2% 0;
            margin-left: 3%;
            background-color: rgb(200, 0, 0);
            box-shadow: inset 0 0 0 #33999e, inset -0 -0 0px #33999e;
            font-weight: 900;
            font-size: larger;
            position: relative;
            color: #fff;
            z-index: 5;
            transform: scale(1);
        }
        
        .weekBtn:hover {
            transform: scale(1.1);
            border: 1px solid #000;
        }
        
        .weekActive {
            margin: 0;
            padding-left: 3%;
        }
        
        .weekActive h3 {
            text-transform: capitalize;
        }
        
        .week {
            margin-bottom: 2%;
            display: flex;
            align-items: center;
            position: relative;
        }
        
        .week:after {
            content: '';
            width: 3%;
            height: 2px;
            background-color: black;
            position: absolute;
            left: 0;
            top: 50%;
        }
        
        .week i {
            font-size: 30px;
            margin-left: 2%;
        }
        
        .weekDetails {
            display: flex;
            align-items: center;
            padding-left: 3%;
        }
        
        .weekdetailsinputs {
            flex: 1;
            display: flex;
            align-items: center;
        }
        
        .weektitlediv {
            display: flex;
            flex: 1;
            align-items: center;
        }
        
        .weektimediv {
            display: flex;
            flex: 1;
            align-items: center;
        }
        
        @media (max-width: 1100px) {
            .weekDetails {
                flex-direction: column;
                align-items: flex-start;
            }
            .weekdetailsinputs {
                width: 100%;
            }
            .addModbtn {
                margin-top: 2%;
            }
        }
        
        @media (max-width: 970px) {
            .weekdetailsinputs {
                flex-direction: column;
                align-items: flex-start;
            }
            .weektitlediv {
                width: 100%;
            }
            .weektitlediv label {
                flex: 0.4;
            }
            .weektimediv {
                margin-top: 2%;
                width: 100%;
            }
            .weektimediv label {
                flex: 0.4;
            }
        }
        
        @media (max-width: 860px) {
            .weektitlediv label {
                flex: 0.6;
            }
            .weektimediv label {
                flex: 0.6;
            }
        }
        
        @media (max-width: 730px) {
            .weektitlediv label {
                flex: 0.8;
            }
            .weektimediv label {
                flex: 0.8;
            }
        }
        
        @media (max-width: 660px) {
            .weektitlediv label {
                flex: 1;
            }
            .weektimediv label {
                flex: 1;
            }
        }
        
        @media (max-width: 570px) {
            .weektitlediv {
                flex-direction: column;
                align-items: flex-start;
            }
            .weektimediv {
                flex-direction: column;
                align-items: flex-start;
            }
        }
        
        @media (max-width: 380px) {
            .weekdetailsinputs input[type='text'] {
                min-width: 100%;
            }
        }
        
        .collapseWeek {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin: 2% 0;
        }
        
        .collapseWeek:after {
            content: '';
            width: 100%;
            height: 2px;
            background-color: black;
            position: absolute;
            left: 0;
            top: 50%;
        }
        
        .collapseWeek .plus {
            z-index: 5;
            margin: 0;
        }
        
        .viewallassn {
            display: none;
            width: 95%;
            margin-bottom: 5%;
        }
        
        .viewallassnitem {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 1%;
            background-color: #ecf0f3;
            border: 2px solid #161361;
        }
        
        .viewassndet {
            flex: 2;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        
        .viewassntype {
            background-color: #29bde4;
            flex: 1;
            padding: 2% 0;
        }
        
        .viewassnfile {
            padding: 0 1%;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            /* align-items: center; */
            justify-content: space-between;
            /* justify-content: center; */
        }
        
        .viewassntitle {
            /* flex: 1.5; */
            text-transform: capitalize;
            flex-wrap: wrap;
        }
        
        .viewassnfile .viewassnfilename {
            background: #33999e;
            width: fit-content;
            color: white;
            border-radius: 10px;
            padding: 2% 3%;
        }
        
        .viewassndel {
            padding-right: 1%;
        }
        
        .viewassndel i {
            font-size: 25px;
            cursor: pointer;
            color: #161361;
        }
        
        @media (max-width:750px) {
            .viewallassnitem {
                flex-direction: column;
            }
            .viewassndet {
                width: 100%;
            }
            .viewassnfile {
                padding: 2% 1%;
            }
        }
        
        @media (max-width:600px) {
            .viewallassnitem {
                margin-bottom: 3%;
            }
        }
        
        @media (max-width:500px) {
            .viewassnfile {
                flex-direction: column;
            }
            .viewassnfile .viewassnfilename {
                padding: 3% 4%;
                margin-top: 2%;
                margin-bottom: 4%;
            }
        }
        
        .video {
            position: relative;
        }
        
        .video video {
            width: 450px;
            display: block;
            border-radius: 10px;
        }
        
        .video video:focus {
            outline: none;
        }
    </style>
</head>

<body>

    <h1 class="course_name">
        <%=coursetitle%>
    </h1>

    <!-- <h2 class="top_heading">
        Dear <span class="data">Educator,</span>
    </h2> -->

    <!-- <hr style="margin: 2% 0;"> -->


    <div class="weekmaindiv" id="weekmaindiv">
        <% for(var i = 0; i < syll.length; i++) { %>
            <% var wk = syll[i].split("::")[0] %>
                <div class="weekitem">
                    <!-- week -->
                    <div class="week">
                        <% if(syll[i].split("::")[1] == 'No') { %>
                            <div class="plus weekBtn" style="background-color: rgb(200,0,0);" onclick="buttonWeek('<%=wk%>')" id="Wbtn_<%=wk%>" style="display: block;">
                                <%=wk%>
                            </div>
                            <i id="Wcheck_<%=wk%>" style="color: green; display:none;" class="fas fa-check-circle"></i>
                            <% } else { %>
                                <div class="plus weekBtn" style="background-color: rgb(0,100,0);" id="Wbtn_<%=wk%>" onclick="buttonWeek('<%=wk%>')" style="display: block;">
                                    <%=wk%>
                                </div>
                                <i id="Wcheck_<%=wk%>" style="color: green; display: block;" class="fas fa-check-circle"></i>
                                <% } %>
                    </div>

                    <div id="allinoneweekdiv_<%=wk%>" style="display: none">
                        <!-- week details -->
                        <div class="weekActive">
                            <h3 id="weekActiveInfo_<%=wk%>"></h3>
                        </div>

                        <!-- all module -->
                        <div id="moduleTable_<%=wk%>"></div>


                        <div class="collapseWeek" id="viewAdditionsbtn_<%=wk%>" style="display: none; margin-bottom: 6%;">
                            <button class="plus CWbtn" onclick="viewAdditions('<%=wk%>')">View all <%=wk%> Additionals</button>
                        </div>

                        <center>
                            <div id="viewallassn_<%=wk%>" class="viewallassn"></div>
                        </center>
                        <div class="collapseWeek">
                            <button class="plus CWbtn" onclick="collapseWeek('<%=wk%>')">COLLAPSE <%=wk%></button>
                        </div>
                    </div>
                </div>
                <% } %>
    </div>





    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $('#popup_main').css("display", "block");
            }, 5000);
        });
        $('#close_button').click(function() {
            $('#popup_main').css("display", "none");
        });


        function viewAdditions(week) {
            if (document.getElementById('viewallassn_' + week).style.display == 'none') {
                document.getElementById('viewallassn_' + week).style.display = 'block'
                getallAdditions(week)
            } else {
                document.getElementById('viewAdditionsbtn_' + week).style.marginBottom = '6%'
                document.getElementById('viewallassn_' + week).style.display = 'none'
            }
        }


        function viewlecturetable(week, mod_num) {
            document.getElementById('viewLec_' + week + '_' + mod_num).style.display = 'none'
            document.getElementById('vidTable_' + week + '_' + mod_num).style.display = 'block'
            getLectureDetails(week, mod_num)
        }

        function collapseVidTable(week, mod_num) {
            document.getElementById('vidTable_' + week + '_' + mod_num).style.display = 'none'
            document.getElementById('viewLec_' + week + '_' + mod_num).style.display = 'block'
        }

        function buttonWeek(week) {
            if (document.getElementById('allinoneweekdiv_' + week).style.display == 'none') {
                document.getElementById('allinoneweekdiv_' + week).style.display = 'block'
                if (document.getElementById('weekActiveInfo_' + week).innerText.length == 0) {
                    getWeekDetails(week)
                }
            } else {
                document.getElementById('allinoneweekdiv_' + week).style.display = 'none'
            }
        }

        function collapseWeek(week) {
            document.getElementById('allinoneweekdiv_' + week).style.display = 'none'
        }



        function getWeekDetails(week) {
            $.ajax({
                type: "GET",
                url: "/admin/get/weekDetails/" + week,
                success: (data) => {
                    console.log(data)
                    if (data['title'].length > 0)
                        var title = data['title']
                    else
                        var title = 'Week Title'
                    document.getElementById('weekActiveInfo_' + week).innerText = title + ' | ' + data['time']
                    document.getElementById('viewAdditionsbtn_' + week).style.display = 'flex'
                    getNumOfModules(week)
                },
                error: (err) => {
                    alert('err')
                }
            });
        }

        function getLectureDetails(week, mod_num) {
            $.ajax({
                type: "GET",
                data: JSON,
                url: "/admin/get/lectureDetails/" + week + "/" + mod_num,
                success: (data) => {
                    var numoflec = 0
                    document.getElementById('vidTable_' + week + '_' + mod_num).innerHTML = ''
                    for (lecture in data) {
                        if (lecture.includes('lec')) {
                            numoflec++
                            var i = data[lecture]['sno'].toString().split(".")[1]
                            if (data[lecture]['videoFile'])
                                document.getElementById('vidTable_' + week + '_' + mod_num).innerHTML += `
                                <div class="lecture_item">
                                    <div class="lecture">
                                        <div class="lecture_details" style="display: flex;">
                                            <h4 style=" flex: 1;">${data[lecture]['sno']}</h4>
                                            <h4 style="flex: 8;">${data[lecture]['title']}</h4> 
                                        </div>
                                        <div class="videofilepluserror" style="display: flex;">
                                            <div class="video">
                                                <video controls="controls">
                                                    <source src="/courseVideos/<%=cat%>/<%=cid%>/${week}/${data[lecture]['videoFile']['filename']}" type="video/mp4">
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                </div>`
                            else
                                document.getElementById('vidTable_' + week + '_' + mod_num).innerHTML += `
                                <div class="lecture_item">
                                    <div class="lecture">
                                        <div class="lecture_details" style="display: flex;">
                                            <h4 style=" flex: 1;">${data[lecture]['sno']}</h4>
                                            <h4 style="flex: 8;">${data[lecture]['title']}</h4> 
                                        </div>
                                        <div class="videofilepluserror" style="display: flex;">
                                            Video not uploaded
                                        </div>
                                    </div>
                                </div>`
                        }
                    }
                    document.getElementById('vidTable_' + week + '_' + mod_num).innerHTML += `<button class="plus" onclick="collapseVidTable('${week}', '${mod_num}')" >COLLAPSE</button>`
                },
                error: (err) => {
                    alert('err')
                }
            });

        }

        function getNumOfModules(week) {
            $.ajax({
                type: "GET",
                data: JSON,
                url: "/admin/get/modules/" + week,
                success: (data) => {
                    console.log('yeah called')
                    console.log(data)
                    for (module in data) {
                        if (module.includes('module')) {
                            console.log(module)
                            var unId = week + "_" + module
                            if (data[module]['status']) {
                                var modDisplay = 'block'
                            } else {
                                var modDisplay = 'none'
                            }
                            var time = 0
                            for (lec in data[module]) {
                                if (lec.includes('lec')) {
                                    time += data[module][lec]['time']
                                }
                            }
                            var hours = Math.floor(time / 60);
                            var min = time - (hours * 60)
                            var moduleTime = ''
                            if (hours == 1) {
                                moduleTime += '1 Hour '
                            } else if (hours > 1) {
                                moduleTime += hours + ' Hours '
                            }
                            if (min == 1) {
                                moduleTime += min + ' Minute'
                            } else if (min > 1) {
                                moduleTime += min + ' Minutes'
                            }
                            document.getElementById('moduleTable_' + week).innerHTML += `
                            <div class="module_main" id="modmain_${week}_${module}">
                                <div class="mod_text">
                                    <h3 id="${week}_${module}_text" style="display: block;">${module.toUpperCase()}</h3>
                                    <i id="${week}_${module}_check" style="display: ${modDisplay}; color: #143d3f;" class="fas fa-check-circle"></i>
                                </div>
                                <div class="module_leftmargin">
                                    <h4 id="${week}_${module}_title" style="display: block;" class="mod_title">${data[module]['title']} | ${moduleTime}</h4>
                                    <center>
                                        <div class="videoTable" id="vidTable_${week}_${module}" style="display: none;"></div>
                                    </center>
                                    <button class="plus viewLec" style="display: block;" onclick="viewlecturetable('${week}', '${module}')" id="viewLec_${week}_${module}">View Lectures</button>
                                </div>
                            </div>
                            `
                        }
                    }
                },
                error: (err) => {
                    alert('err')
                }
            });

        }

        function getallAdditions(week) {
            $.ajax({
                type: "GET",
                data: JSON,
                url: "/admin/get/allAdditions/" + week,
                success: (data) => {
                    console.log(data)
                    document.getElementById('viewAdditionsbtn_' + week).style.marginBottom = '2%'
                    document.getElementById('viewallassn_' + week).style.display = 'block'
                    document.getElementById('viewallassn_' + week).innerHTML = ''
                    for (module in data) {
                        if (module.includes('module')) {
                            if (data[module]['resources']) {
                                if (data[module]['resources']['downloadableFiles']) {
                                    for (df in data[module]['resources']['downloadableFiles']) {
                                        document.getElementById('viewallassn_' + week).innerHTML += `
                                        <div class="viewallassnitem" id="${week}_${module}_rdf_${df}">
                                            <div class="viewassntype viewassndet">
                                                <h3>${module.toUpperCase()} Download File</h3>
                                            </div>
                                            <div class="viewassnfile viewassndet">
                                                <p class="viewassntitle">${df}</p>
                                                <p class="viewassnfilename">${data[module]['resources']['downloadableFiles'][df]['originalName']}</p>
                                            </div>
                                            
                                            <div class="viewassndel">
                                                <a href="/admin/downloadMaterial/${week}/${data[module]['resources']['downloadableFiles'][df]['locationName']}"><i class="fas fa-download"></i></a>
                                            </div>
                                            
                                        </div>`
                                    }
                                }
                                if (data[module]['resources']['url']) {
                                    for (url in data[module]['resources']['url']) {
                                        document.getElementById('viewallassn_' + week).innerHTML += `
                                        <div class="viewallassnitem" id="${week}_${module}_rurl_${url}">
                                            <div class="viewassntype viewassndet">
                                                <h3>${module.toUpperCase()} URL</h3>
                                            </div>
                                            <div class="viewassnfile viewassndet">
                                                <p class="viewassntitle">${url}</p>
                                                <p class="viewassnfilename">${data[module]['resources']['url'][url]['link']}</p>
                                            </div>
                                            <div class="viewassndel">
                                                <a href="${data[module]['resources']['url'][url]['link']}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                                            </div>
                                        </div>`
                                    }
                                }
                                if (data[module]['resources']['sourceCodes']) {
                                    for (sc in data[module]['resources']['sourceCodes']) {
                                        document.getElementById('viewallassn_' + week).innerHTML += `
                                        <div class="viewallassnitem" id="${week}_${module}_rsc_${sc}">
                                            <div class="viewassntype viewassndet">
                                                <h3>${module.toUpperCase()} Source Code</h3>
                                            </div>
                                            <div class="viewassnfile viewassndet">
                                                <p class="viewassntitle">${sc}</p>
                                                <p class="viewassnfilename">${data[module]['resources']['sourceCodes'][sc]['originalName']}</p>
                                            </div>
                                            <div class="viewassndel">
                                                <a href="/admin/downloadMaterial/${week}/${data[module]['resources']['sourceCodes'][sc]['locationName']}"><i class="fas fa-download"></i></a>
                                            </div>
                                        </div>`
                                    }
                                }
                            }
                            if (data[module]['assignments']) {
                                for (assn in data[module]['assignments']) {
                                    document.getElementById('viewallassn_' + week).innerHTML += `
                                    <div class="viewallassnitem" id="${week}_${module}_massn_${assn}">
                                        <div class="viewassntype viewassndet">
                                            <h3>${module.toUpperCase()} Assignment</h3>
                                        </div>
                                        <div class="viewassnfile viewassndet">
                                            <p class="viewassntitle">${assn}</p>
                                            <p class="viewassnfilename">${data[module]['assignments'][assn]['originalName']}</p>
                                        </div>
                                        <div class="viewassndel">
                                            <a href="/admin/downloadMaterial/${week}/${data[module]['assignments'][assn]['locationName']}"><i class="fas fa-download"></i></a>
                                        </div>
                                    </div>`
                                }
                            }
                        }
                        if (module == 'assignments') {
                            for (assn in data[module]) {
                                document.getElementById('viewallassn_' + week).innerHTML += `
                                    <div class="viewallassnitem" id="${week}_wassn_${assn}">
                                        <div class="viewassntype viewassndet">
                                            <h3>${week.toUpperCase()} Assignment</h3>
                                        </div>
                                        <div class="viewassnfile viewassndet">
                                            <p class="viewassntitle">${assn}</p>
                                            <p class="viewassnfilename">${data[module][assn]['originalName']}</p>
                                        </div>
                                        <div class="viewassndel">
                                            <a href="/admin/downloadMaterial/${week}/${data[module][assn]['locationName']}"><i class="fas fa-download"></i></a>
                                        </div>
                                    </div>`
                            }
                        }
                    }
                },
                error: (err) => {
                    // $("#studentslist").html(err.responseText);
                    alert('err')
                }
            });
        }

        function downloadaddn(pathtodel, viewassnitem, week) {
            $.ajax({
                type: "POST",
                data: {
                    'path': pathtodel
                },
                url: "/admin/download/additional",
                success: (data) => {
                    if (data == 'success') {
                        document.getElementById(viewassnitem).style.display = 'none'
                        document.getElementById('viewallassnerror_' + week).innerText = 'Deleted successfully'
                    } else
                        document.getElementById('viewallassnerror_' + week).innerText = 'Error while deleting.'

                },
                error: (e) => {
                    alert(e)
                }

            })
        }
    </script>
</body>

</html>

</html>